// Colours partial
$base: #1d1d20;
$base-dark : #343336;
$green: #8cc665;
$orange: #e5551e;
$indigo: #307b7c;
$search-bg: #4b4c50;
// Text colours
$txt: #5f6068;
$txt-des: #b1b0b5;
$txt-menu: #92979f;
$txt-menu-hover: #d7dade;
$txt-title: #71757c;
//chart
$chart: #307b7c;
$black-chart: #242c45;
$dark-chart : #595c6a;
$grey-chart : #dbd9db;
$chart-text : #35353b;

// layout
$section-padding: 10px 0;